{% extends "layout.html" %}

{% block content %}
  <div class="emptyspace"></div>
  <br>
  <div class="text-center overlay-diag">
    <h1 class="hero-font big-h1">NBA On Demand Notifications</h1>
    <h2 class="hero-font">Never miss another close game in the playoffs</h2>
    <br><br>
    {% with verify = get_flashed_messages(category_filter=["verify"]) %}
      {% if verify %}
        <h3 class="thin-font">Enter the code sent to your phone below</h3>
        <form class="form-inline" id="verifyPhone" method="POST" action="/verify_phone">
          <div class="form-group row">
            <div class="col-md-7">
              <input type="number" class="form-control" name="verifyCode">
            </div>
            <button class="btn btn-success" type="submit">Verify Number</button>
          </div>
        </form>
      {% else %}

        <h3 class="hero-font">Enter your phone number below</h3>
        <form class="form-inline" id="enterPhone" method="POST" action="/validate_phone">
          <div class="form-group row">
            <div class="col-md-7">
              <input type="tel" class="form-control" name="phone" autocomplete="tel" placeholder="123-456-7890">
            </div>
            <button class="btn btn-success" type="submit">Get Started!</button>
          </div>
        </form>
      {% endif %}
    {% endwith %}
    <br>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
        {%- for msg in errors %}
          <div id="errMsg" class="alert alert-danger">{{msg}}</div>
        {% endfor -%}
      {% endif %}
    {% endwith %}
    {% with success = get_flashed_messages(category_filter=["success"]) %}
      {% if success %}
        {%- for msg in success %}
          <div id="successMsg" class="alert alert-success">{{msg}}</div>
        {% endfor -%}
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block addScripts %}
  <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}
