body {
  min-height: 90%;
  padding-top: 50px;
  background-image: linear-gradient(white, #fdb927);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-custom {
  background:#4700eb!important;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.navbar-custom ul {
  padding-top: 5px;
}

.navbar-custom a {
  color: white!important;
  font-size: 18px;
}

.navbar-custom .active a {
  color: white!important;
  font-size: 18px;
  background: #3C448D!important;
  border-radius: 15px;
}

.quickstart,.login {
  background: white;
}

.emptyspace {
  height:12vh;
}

.big-h1 {
  font-size:50px;
  font-weight: 700;
}

.thin-font {
  font-family: 'Open Sans', sans-serif;
}

.hero-font {
  font-family: 'Rubik', sans-serif;
}

#outputPanel {
  display:none;
}

.active-custom {
  background: none;
}

.green-text {
  color:green;
}

.smaller-text {
  font-size:13px;
}

@media only screen and (min-width: 700px) {
  .mobile-only {
    display:none;
  }
}

.clickable {
  cursor: pointer;
}

.slight-margin {
  margin: 8px;
}

.steps {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    left: 50%;
}
